
.navs
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(3, 3, 19);
    margin-top: -10px;
}
.font
{
  font-size: 40px;
  color: white;
  font-weight: bolder;
  padding: 10px;
}
.div1
{
    background-color: rgb(17, 181, 145);
    height: 600px;
    width: 100%;
    overflow: hidden;
}
.img
{
    height: 250px;
    width: 300px;
    margin-left: 350px;
    margin-top: 80px;
    padding-top: 30px;
}
.font1
{
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
}

.line
{
     height: 3px;
     width: 120px;
    margin-left: 350px;
    margin-top: 40px;
    border-radius: 5px;
}  
.line1
{
    height: 3px;
     width: 120px;
    margin-top: -20px;
    margin-left: 550px;
    border-radius: 5px;
}
i
{
 font-size: 40px;   
 color: rgb(243, 245, 247);
 margin-left: 140px;
 margin-top: -20px;
}
.column
{
    width: 350px;
    height: 250px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
}